<div class="container">
	<div class="row">
		<div class="col-md-3 report-card">
			<p class="text-center title">Course Report</p>
			<p class="title text-center">Provides a table & a graph showcasing the students' attendance progress</p>
			<div class="col-md-2 col-md-offset-1">
				<a class="btn btn-primary" href="/#!/coursereport">Generate Report</a>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-1 report-card">
			<p class="text-center title">Students Report</p>
			<p class="title text-center">Provides relevant information on a selected student</p>
			<div class="col-md-2 col-md-offset-1">
				<a class="btn btn-primary" href="/#!/studentreport">Generate Report</a>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-1 report-card">
			<p class="text-center title">All Courses Report</p>
			<p class="title text-center">Provides the attendance information for all courses in the ongoing semester</p>
			<div class="col-md-2 col-md-offset-1">
				<a class="btn btn-primary" href="/#!/allcoursesreport">Generate Report</a>
			</div>
		</div>
	</div>
</div>