<div class="container">
    <h1 class="text-center title">{{message}}</h1>
    <div class="row spacer">
        <div class="col -md-6 col-md-offset-1">
            <form>
                <div class="form-group">
                    <label>Enter Student ID Number</label>
                    <input type="text" ng-model="studentNumber" class="form-control" name="list" uib-typeahead="student for student in studentList | filter:$viewValue | limitTo:8" autocomplete="off"/>
                </div>
                <input class="btn btn-primary" type="submit" value="Generate Data" ng-click="generateData()"/>
            </form>
        </div>
    </div>
    <div class="row spacer" ng-if="dataCapture == true">
        <div class="col-md-10 col-md-offset-1">
            <h2>Attendance Data for {{studentMap[studentNumber].lastName}} {{studentMap[studentNumber].firstName}}</h2>
            <table class="table table-striped">
                <thead>
                    <th>Course Code</th>
                    <th>Attendance Data</th>
                </thead>
                <tbody>
                    <tr ng-repeat="code in studentMap[studentNumber].courseList track by $index">
                        <td>{{code}}</td>
                        <td>{{courseAttendanceData[$index]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row spacer" ng-if="dataCapture == true">
        <div class="col-md-6 col-md-offset-1">
            <button class="btn btn-primary" ng-click="viewPDF()">View PDF</button>
            <button class="btn btn-primary" ng-click="downloadPDF()">Download PDF</button>
        </div>
    </div>
</div>